.DS_Store
Desktop.ini

._*
*~
Thumbs.db

.Spotlight-V100
.Trashes

**/__pycache__/
**/*.py[cod]

pip-log.txt

*.log

.ropeproject
.vscode
.idea

.python-version

.env

.venv
venv/
ENV/

node_modules
vendor

*.sw?

.awsconfig

.gitsecret/keys/random_seed